bin/Debug/net8.0-windows/NGOFinanceDashboard.dll
fio_page.html
fio_page.html
bin/Debug/net8.0-windows/NGOFinanceDashboard.dll
bin/Debug/net8.0-windows/NGOFinanceDashboard.exe
bin/Debug/net8.0-windows/NGOFinanceDashboard.pdb
obj/Debug/net8.0-windows/apphost.exe
obj/Debug/net8.0-windows/NGOFinanceDashboard.AssemblyInfoInputs.cache
obj/Debug/net8.0-windows/NGOFinanceDashboard.assets.cache
obj/Debug/net8.0-windows/NGOFinanceDashboard.dll
obj/Debug/net8.0-windows/NGOFinanceDashboard.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0-windows/NGOFinanceDashboard.pdb
obj/Debug/net8.0-windows/NGOFinanceDashboard.sourcelink.json
obj/Debug/net8.0-windows/ref/NGOFinanceDashboard.dll
obj/Debug/net8.0-windows/refint/NGOFinanceDashboard.dll


NGOFinanceDashboard/bin/Debug/net8.0-windows
obj/Debug/net10.0-windows/NGOFinanceDashboard.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net10.0-windows/NGOFinanceDashboard.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net10.0-windows/NGOFinanceDashboard.assets.cache
obj/Debug/net10.0-windows/NGOFinanceDashboard.AssemblyInfoInputs.cache
